<%= link_to "New Item", new_user_item_path(@user.id), class: 'btn btn-success' %>

<div>
    <% if @user.items.count < 1 %>
        <%= "#{@user.first_name} #{@user.last_name} has no items to complete right now." %>
    <% else %>
		<% @user.items.each do |item| %>
			<div id="item_grid">
				<%= render partial: 'items/item', locals: { item: item }, remote: true %>
			</div>
		<% end %>
        
    <% end %>
</div>