<div class="home-main">
    <div class="home-image">
        <%= image_tag "pickoff1.png" %>
    </div>
    <div class="home-greeting">
        <p>Regain your sanity and take control with Pickoff</p>
    </div>
</div>