<div class="media">
    <div class="media-body">
        <h4 class="media-heading">
            <%= item.name %>
			<small>
				<span class="glyphicon glyphicon-user"></span> --- Expires in <%= distance_of_time_in_words(Time.now, item.expires_at, include_seconds: true) %>
			</small>
        </h4>
    </div>
</div>