/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
    background: #9E9E9E;
    font-family: 'Martel Sans', sans-serif;
    color: #212121;
}

.logo {
	height: 40px;
	width: 36px;
	background-color: #616161;
	padding: 3px;
}

a {
    color: #212121;
    line-height: 40px;
}

a:focus, a:hover {
	text-decoration: none;
    color: #F5F5F5;
}

.sign-in {
	width: 205px;
    height: 40px;
    text-align: center;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}

.nav-tabs {
    border-bottom: 1px solid #616161;
    background-color: #9E9E9E;
}

.nav-links {
	margin: 0 10px 0 10px;
    line-height: 40px;
}

.navbar-link {
	color: #212121;
}

.user-status {
	text-align: right;
    width: 85%;
    line-height: 40px;
	float: right;
}

li {
	margin-right: 8px;
}

.home-main {
    width: 515px;
    text-align: center;
    margin: 5% auto;
}

.home-image {
    width: 100%;
    vertical-align: middle;
}

.home-greeting > p {
    font-size: 1.5rem;
    margin-top: -78px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-style: italic;
}

.field {
    margin-bottom: 15px;
}